# Parse .html files and eval <?php ?>
AddHandler application/x-httpd-php .html .htm 

# CAREFULL ABOUT PHP SCRIPTS ACCESSIBLES
# REGLER LE NOT FOUND SUR DES CSS JS JPG ........

RewriteEngine On
RewriteCond $1 !\.(css|php|js|jpg|png|ttf)
RewriteRule ^(.*)$ index.php/$1	[L]

