<section id="focus">
	<img src="<?php echo MEDIA_PATH . "user_media/" . $this->data['media_id'];?>.png">
</section>

<aside id="focus_aside">

	<div id="focus_aside_top">
		top
		<br>
		LIKE
		<br>
		top
	</div>
	<div id="comments">
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	Hekllaepqrzsegisfopiuoivjznroieqrousigemfwdkvho
	<hr>
	</div>
	<div id="focus_aside_bottom">
		<form>
			<input type="text" placeholder="Your comment...">
			<input type="submit" name="upload_btn" value="Comment">
		</form>
	</div>

</aside>
