<nav id="headlog">
	<p class="header_element">
		Hello
		<?php echo $_SESSION['user']['username']; ?>
	</p>
	<a class="header_element" href="<?php echo SITE_ROOT; ?>gallery/user/">
		<button class="header_button glyph glyph_gallery_perso"></button>
	</a>
	<a class="header_element" href="<?php echo SITE_ROOT; ?>settings/">
		<button class="header_button glyph glyph_user"></button>
	</a>
	<a class="header_element" href="<?php echo SITE_ROOT; ?>logout" id="logout">
		<button class="header_button glyph glyph_logout"></button>
	</a>
</nav>
