section#editor
{
	width : 70vw;
	float:left;
	height: calc(100vh - 42px - 42px);;
}

#container {
	height: 400px;
    width: 100%;
    background-color: #666;
}

#videoElement {
	height: 100%;
}


aside.right
{
	position: absolute;
	right : 0px;
	width : 30vw;
	background-color : #aaffaa;
	height: calc(100vh - 42px - 42px);;
}

aside.right img
{
	max-width: calc(100% - 10px);
	height: auto;
	margin: 0px 5px 10px 5px;
}

aside.right img.sending
{
	opacity: 0.8;
}

