/*-------------- LOGIN ---------------*/

section#login label
{
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size : 22px;
	color: white;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

section#login .cadre
{
	width : 260px;
}

section#login input
{
	width : 238px;
	margin-bottom: 30px;
}

section#login button
{
	height: 28px;
	width : 260px;
	margin-bottom: 30px;
}

section#login p
{
	display: block;
	float: left;
}

section#login p+p
{
	float: right;
}


