@font-face {
	font-family: 'din1451';
	src: url('font/din1451stdengschrift.ttf');
}

@font-face {
	font-family: 'geo';
	src: url('font/GeosansLight.ttf');
}

@font-face {
	font-family: 'geo-oblique';
	src: url('font/GeosansLight-Oblique.ttf');
}

body {
	font-family: geo;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	color: #000000;
	background-color: #262626;
}

a {
	text-decoration: none;
	font-style: none;
	color: #0000FF;
}

h1 {
	font-size : 30px;
	font-family: din1451;
}



h2 {
	font-size : 20px;
	font-family: din1451;
}

section h1,
section h2
{
	display : block;
	text-align: center;
	margin-bottom: 15px;
	color: #111;
	text-shadow: 1px 1px 0px #444;
}

section h2 {
	color: #f33;
	text-shadow: 0px 0px 2px #f00, 0px 0px 10px rgba(255, 0, 0, 1);
	font-family: geo;
}


/*------------------------------------*/

section
{
}

.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cadre
{
	padding : 20px;
	border-radius: 6px;
	background-color : #666;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
	margin-left: auto;
	margin-right: auto;
}

.error
{
	border: 2px solid red;
	box-shadow: inset 0px 0px 150px rgba(255, 0, 0, 0.3);
}

input,
button
{
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border: 1px solid grey;
}

button
{
	background-color: #ccc;
}

button:hover
{
	background-color: #aaaaaa;
}

label
{
}

/*-------------- HEADER --------------*/

header {
	position: sticky;
	display: flex;
	top: 0px;
	width: 100%;
	height: 42px;
	background-color : #e6e6e6;
	border-bottom: 1px solid grey;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

nav {
	height : 42px;
	float: left;
}

nav h1#title {
	font-size : 36px;
	float: left;
	margin: 8px 0px 0px 0px;
	text-shadow: 1px 1px 0px #fff;
}

nav h1#title a
{
	color: black;
}

nav h1#title a:hover
{
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

nav a
{
	float: left;
	height: 42px;
	display: flex;
	padding : 0px 10px 0px 10px;
	color: black;
}

nav a:hover
{
	background-color: #888;
	border-left: 1px solid #444;
	border-right: 1px solid #aaa;
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

nav a:hover h1#title
{
	text-shadow: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

nav a
{
	border-left: 1px solid white;
	border-right: 1px solid grey;
}

nav a img
{
	margin: auto;
}

div.padder
{
	flex: auto;
	border-left: 1px solid white;
	border-right: 1px solid grey;
}

/*-------------- TO LOG --------------*/

nav#headlog,
nav#headlog
{
	float: right;
}

nav#to_log button
{
	display: block;
	float: left;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border: 1px solid grey;
	margin: 8px 8px 8px 0px;
}

/*----------- USER LOGGUED -----------*/

nav#headlog a p
{
	float: left;
	margin: auto 15px auto 0px;
}

/*------------------*/

/*
section {
	float :left;
	width : 100vw;
	background-color : #ff0000;
	height: calc(100vh - 75px - 75px);;
}
*/

footer {
	position: fixed;
	bottom : 0px;
	width : 100%;
	height : 42px;
	background-color : rgba(0, 0, 255, 0.1);
}

